# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz
*.class
*.project
*.factorypath
*.nar
*.ear
*.rar

# eclipse ignore
.settings/
.classpath
target/
bin/
NewCustServSer/
SrenewSer/
sms-drugstore/

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/bin

/.mvn

### STS ###
.apt_generated
.springBeans
.prefs

# 本地配置文件
application-local*.yml
application-local*.properties

